@import "core/variables";

.body {
  margin: 20;
  font-family: $fontPrimary;
  font-size: 30px;
}
.favAndList {
  display: flex;
}
.sectionSearch {
  padding: 0px 40px;
}
.page__header {
  flex-basis: auto;
}
.header {
  text-align: center;
  color: $colorPrimary;
}
.textInput {
  border-style: none;
  border-bottom: 2px solid $colorPrimary;
  margin-right: 10px;
  font-size: 20px;
  height: 45px;
}

.searchButton {
  background: $colorPrimary;
  color: $colorWhite;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 10px;
}
.titleFav {
  color: $colorPrimary;
  margin: 15px 15px 15px 15px;
  font-size: 30px;
}

// Section search
.searchList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.series__item {
  background: $colorPrimaryLight;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.series__image {
  display: flex;
  height: 295px;
  width: 210px;
  padding: 20px;
}
.series__name {
  color: $colorWhite;
  text-align: center;
}

.serie__item--favourite {
  background-color: $colorPrimary;
  color: $colorPrimaryLight;
}

// Fav
.containerFav {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-right: 40px;
  align-items: center;
  align-content: center;
}
.listFav {
  list-style: none;
  display: flex;
}

.fav__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: solid 2px $colorPrimary;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, rgb(196, 146, 153), #6f2f37);
  align-items: center;
  align-content: center;
  width: 100px;
  .fav__image {
    align-items: center;
    height: 75px;
    width: 50px;
    margin-top: 5px;
  }
  .fav__name {
    padding-top: 5px;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
    color: $colorWhite;
  }
}
