<main class="page__main">
  <section class="sectionSearch">
    <input class="js-input textInput" type="text" />
    <button class="js-button searchButton" type="button">Buscar</button>
    <h2 class="titleFav">Mis favoritas:</h2>
  </section>
  <div class="favAndList">
    <section class="containerFav">
      <ul class="js-listFav listfav"></ul>
      <!-- Meter los elementos del DOM desde js -->
    </section>

    <section class="js-list searchList">
      <!-- Meter los elementos del DOM desde js -->
    </section>
  </div>
</main>
