<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ejercicio Final Modulo-2</title>
    <link rel="icon" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ea8c8602a3.js"></script>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="body">
    <div class="page">
      <partial src="_header.html"></partial>
      <partial src="_main.html"></partial>
      <script type="text/javascript" src="assets/js/main.js"></script>
    </div>
  </body>
</html>
